In [2]:
import pandas as pd
dataset=pd.read_csv("insurance_pre.csv")
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [4]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [6]:
#input/output split
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [10]:
#train/test split
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [11]:
#standardization
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [221]:
#model creation
from sklearn.svm import SVR
regressor=SVR(kernel="linear",C=600

SyntaxError: unexpected EOF while parsing (<ipython-input-221-454d480b1b28>, line 3)

In [222]:
regressor.fit(X_train,Y_train)

C:\Users\Senthil\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=900, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='linear', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [223]:
Y_predict=regressor.predict(X_test)

In [224]:
Y_predict

array([10214.39494622,  9214.45115849, 37183.72660223, 12389.9214118 ,
        9589.44474614,  4825.59323721,  1054.31343555, 11259.63785385,
        7666.75580327,  5490.1522551 ,  6333.65190556, 10339.05169975,
        8168.3552404 ,  4976.7453056 , 30514.1079133 , 10793.79792973,
       11781.43314347,  3386.53517397,  6892.04883736, 28714.18218052,
       37592.48677192, 12113.42828463, 10167.74094847, 36137.15588021,
        1951.45550164,  5093.56022701,  3481.31119986,  8264.48939926,
        4482.17812136,  8775.58336829,  8159.12275597, 39702.85992205,
       12630.72654442, 10774.93937778, 29868.89437256,  4270.95387932,
        9227.97743306, 31379.32157389, 35219.34194833,  1754.60226786,
        5662.12347268,  3662.27185745, 33640.17215909, 39743.10496361,
       28679.53490456,  2818.84636058, 10785.73041412,  7471.7861924 ,
        4531.95749955, 11730.31382961,  2587.1514773 ,  2580.51562825,
       36469.2308166 , 38643.56726505, 12026.09303676,  3580.73904061,
        3050.8459168 ,  9184.89531624,  9346.39009112, 12188.75216045,
        1033.21949761, 41060.83895433, 13218.27947389, 10143.52628036,
       10509.92422732, 10521.15227784, 28438.78451885, 32939.11073152,
        2555.06304711,  8275.69522235, 12485.21406148, 11482.96073418,
       28631.42902797, 13226.20717711, 12118.62902639, 12204.56029115,
        8025.36523925,  8515.58732733, 33841.22584075, 40114.06277831,
       11175.69952004, 35527.19474544,  1910.87345342,  8361.05248129,
       35315.56600855, 33103.85795781,  3972.96839524,  2944.37915775,
       12001.73046525, 31474.63725675,  6247.71661052, 10594.03145196,
        3274.60562569,  9054.59535074,  5150.73856334,  5296.05304624,
       37980.89450519, 35871.28043389,  5468.80091995, 11113.04363807,
        2186.63782034,  6066.68179935,  4680.01187095, 33041.94760762,
       35702.86817019,  3318.73652165, 10668.10792861,  3908.64505707,
       11509.70051921, 39356.41599254, 11689.30022308,  5139.67053751,
        9467.23532944, 28210.20289474, 39197.53605033,  7874.46027616,
        1541.50670995,  9189.54024947, 12236.42182847,  9331.54226379,
       36154.89552971,  9861.17535526, 13560.64438484,  5380.99430905,
        8374.44560887,  4632.70890819, 36502.79273321, 35957.45818396,
       39529.98981326,  1762.2335749 ,  8838.23723513,  1299.72168152,
        6863.85233745,  9352.11492767, 34522.22657795, 32423.67851735,
       34391.19056682, 10273.53369418, 38012.04141869,  2466.83234892,
        1720.8653844 , 10538.90342862, 10006.13202967, 10399.55341657,
        5328.13338542, 13469.45701142, 12566.40584138,  3116.1261176 ,
         863.43496452, 10628.04250418,  6780.12130421, 30847.32075505,
       10000.97047265,  1208.28983793,  2051.54098795,  7371.86538104,
        2299.61273748,  1192.15480671, 10792.82004905, 10140.20088475,
        4468.25888384, 12692.57749743, 12162.75589208, 10181.87839847,
        4619.32790188,  4106.83540577, 28573.92580624,  5820.38073818,
        4573.32569005,  1384.47040017,  4074.87466654,  4188.67754583,
        8594.86516573,  2532.07618573,  4412.39744999,  4372.33202556,
        4079.52161491,  6568.34063365, 40241.00219373,   705.50521955,
       11003.28118199,  7074.08657753, 11224.03511039,  3272.58237615,
        5665.77840395, 39736.69337229,  1901.58358695,  2258.00007681,
       13395.99372533, 10248.47348662, 36684.9480582 ,  4075.18864003,
        6217.22470745, 35974.39147874,  2791.09434601,  2286.13919468,
        6641.22042777,  6491.57762026,  4705.4895004 ,  4615.13008913,
       11139.42338325, 40441.87160801, 11823.11794259, 32731.55555717,
        4569.56408587, 36759.60864682,  3345.61611908,  9902.41929554,
        6603.27280451,  1118.29310164,  9206.68084482, 12836.27524078,
        4923.90257928,  2551.33659739,  7267.77382038,  2227.46635387,
        6728.03703672,  5330.89206061, 13168.5992976 ,  6678.81811732,
        6798.14522861,  7761.97894963,  9060.40525279,  2837.98190202,
       11810.71481696, 13172.59870655, 12203.63777737, 11617.58338264,
        7100.36913594,  2549.43558294,   803.65999281,  8851.33942241,
       12126.81676195,  2806.68023411,  5103.16608209,  7758.21269518,
        9430.07586359, 29782.52488409,  6454.53775437, 11072.95719558,
        6380.99203792, 30056.90749548,  8222.16636126,  7643.20160146,
        8644.08610027, 10502.62729182,  2305.14301489,  8282.76727997,
        2036.72487435,  7148.96131774, 32056.94619885, 41294.83872691,
        4179.8218728 ,  3701.60449137,  1123.987434  ,   628.86382124,
        8446.6170408 ,  1311.86275967,  4202.05855213,  3768.59334823,
        8934.88739779, 37333.14171111, 39866.75150274, 13620.72120876,
        7258.11724866, 11377.317907  , 33132.43390425,  9308.31759764,
       34927.91936924,   908.53769576, 30813.58852186,  5448.6848627 ,
       12200.79868697,  3733.90626753, 33468.0908277 ,  5867.38386387,
       10099.95320806,  9846.3356191 ,  1795.6334517 , 12639.99337769,
       11665.74400614,  5178.60816273, 11911.49127392,  1147.21210016,
        6675.17208282,  3412.01745369,  8846.6342864 , 35422.83769656,
        3729.77129269,   689.24795324,  1650.20339912, 40460.30405752,
        9313.51632426,  5059.15943635, 11841.69767551, 11406.50905914,
       29870.11470827,  7312.94807006,  5720.75449362,  9424.2316127 ,
        1079.42435974,  2172.02699218, 31131.77249356, 30766.59488231,
       12792.02614   ,  2561.1701511 ,  3459.57902304,  9109.68356936,
        9881.63933109, 28308.18471628, 33457.91016118,  6555.38433464,
       28856.29086776,  1421.26517589,  6910.81364328,  5139.37070044,
        8683.67470564,  1413.92096465,  7322.26298484, 35614.71708145,
        3130.05890216,  3993.1391994 ,  1226.17798021,  9168.70553811,
        4191.98799927, 11558.17713132, 41191.3981464 , 31988.33251143,
        9448.21938794, 35798.67077825, 12389.80382698,  4578.85395233,
        9945.47574405,  3519.5843285 , 39874.15511116,  5248.38136309,
       12334.62043674,  1340.30574488, 28905.18490177,  3072.5530453 ,
       38801.55175692,  6992.90288864,  2233.70034321, 30554.90736825,
        5565.51857079,  5817.23979556, 41116.89212658,  1074.77942651,
        8576.73456842,  1812.77606219, 11435.10459802,  3420.46581097,
        6147.62910908,  5237.73478941, 37534.97688479,  8911.27844907,
       33160.73707707, 29820.56767898,  6460.52727354,  8917.58538262,
        1012.0728279 ,  3383.03217637,  2238.22567649,  9313.51430912,
       38616.94506483, 10971.98636509,  1279.59471236, 11525.95980065,
        2078.52725829,  8368.79309637,  4094.89353704,  2415.21742932,
        3304.88213718, 28602.70176785,  6587.80571076,   919.2436666 ,
       33778.56995877, 11069.06870605, 37557.64775756, 11226.97076757,
        5007.62896224,  1848.16886994,  1648.86891933, 10470.57665123,
        5637.63463581,  1191.33896585, 10572.73749885,  7612.72789569,
        7078.76868036,  4061.37607542,  2422.25634762, 32350.39283324,
        1625.2080446 ,  9509.25651523,  1344.13282211,  8182.89920038,
       11095.93072616,  4028.76234091, 30486.353078  , 10798.89745444,
       13610.59872988, 12671.74681635])

In [225]:
#Evalution metrics
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,Y_predict)

In [226]:
r_score

0.7649156139014722

In [185]:
#save the model
import pickle
filename="finalized_model_svm.sav"
pickle.dump(regressor,open(filename,'wb'))

In [187]:
load_model=pickle.load(open("finalized_model_svm.sav",'rb'))

In [189]:
result=load_model.predict([[17,23,2,0,1]])

In [190]:
result

array([9578.18608336])